*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff;
}
@font-face {
    font-family: 'HelveticaMedium';
    src: url('HelveticaMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gibson-Regular';
    src: url('Gibson-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gibson-Bold';
    src: url('Gibson-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

h1{
    font-family:'Gibson-Bold', 'HelveticaMedium', 'sans-serif';
    font-size: 3rem;
}
h2{
    font-family:'Gibson-Bold', 'HelveticaMedium', 'sans-serif';
    font-size: 2rem;
}
p{
    font-family:'Gibson-Regular', 'HelveticaMedium', 'sans-serif';
    font-size: 1rem;
}
.cta {
    /* position: absolute; */
    background-color: #ffe400;
    color: black;
    font-family:'Gibson-Bold', 'HelveticaMedium', 'sans-serif';
    font-size: 2rem;
    padding: 15px 50px;
    border-radius: 50px;
    text-decoration: none;
    width: fit-content;
}
.hero-section{
    background: url(hero-bg.png);
    background-position: center center;
    background-size: cover;
    min-height: 600px;
}
.content-container{
    max-width: 1920px;
    display: flex;
    /* flex-direction: column; */
    /* column-gap: 20px; */
    /* row-gap: 20px; */
    /* width: 50%; */
    text-align: center;
    padding: 60px 0 0 0;
    align-items: center;
}
.content-left{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding-left: 10vw;
}

.payments-container{
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
  }
  .payments-container img {
    display: inline-block;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 6px;
    margin-bottom: 6px;
    max-width: 70px;
    max-height: 25px;
    object-fit: contain;
  }


  footer {
    background: linear-gradient(0deg, #000, #000, #282828);
    width: 100%;
    text-align: center;
    position: relative;
    color: #6a6a6a;
    font-family: Gibson-Regular;
    padding: 60px;
  }
  
  .terms-list{
    list-style-type: disc;
    text-align: left;
  }
  .terms-list li::marker{
    width: 8px;
    height: 8px;    
  }
  .terms-list-centered{
    list-style-type:none;
    text-align: center;
  }
  
  footer a {
    color: #ffffff;
    font-family: Gibson-Regular;
    text-decoration: none;
  }
  
  .footer_logo {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 178px;
    height: 70px;
    background-image: url(rizk-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #cecece;
    white-space: nowrap;
  }
  
  .footer-links li a {
    margin: 0 25px;
  }
  
  .footer-links li a:hover {
    color: #ffe400;
  }
  
  .footer-text {
    padding: 50px 0;
    width: 60vw;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .gambling {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
  .gambling a {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .gambling a img {
    max-width: 200px;
    max-height: 25px;
    object-fit: contain;
  }






@media (max-width:1000px){
    .content-container{
        flex-direction: column;
        padding: 30px 0 0 0;
    }
    .content-left{
        padding: 0 15px;
    }
    .logo{
        width: 80%;
    }
    .footer-text{
        width: 90%;
    }
    .hero-section{
        background: url(hero-bg-1000px.jpg);
        background-size: cover;
        min-height: 1000px;
        background-position: center center;
    }
}

@media (max-width:700px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.4rem;
    }
    .cta{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.8rem;
    }
    .content-left{
        row-gap: 20px;
        padding: 0 20px;
    }
    footer{
        padding: 60px 30px;
    }
}


.animate__animated.animate__fadeInRight{
    --animate-duration: 1.5s;

}

.animate__animated.animate__fadeInUp{
    --animate-duration: 1.5s;
}